.navbar-default {
    transition: background-color .3s ease;
    border-color: transparent;
    background-color: #FA6900;
    letter-spacing: 1px;
    height: 80px;
}
.navbar-default a {
    border-bottom: none;
}
.navbar-default .navbar-brand {
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active {
    color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    border-color:transparent;
}

.navbar-default .nav li a p{
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: .9em;
    opacity: 0.8;
}
.navbar-default .nav li a:hover p{
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #fff;
    opacity: 1;
}
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
}

.navbar-default.navbar-shrink {
    transition: background-color .3s ease;
    background-color: #F38630;
    transition: height .3s ease;
    height: 60px;
}
.navbar-default.navbar-shrink .navbar-brand,
.navbar-default.navbar-shrink .navbar-nav li a,
.navbar-default.navbar-shrink .navbar-nav>.active>a:focus,
.navbar-default.navbar-shrink .navbar-nav li a p,
.navbar-default.navbar-shrink .navbar-nav>.active>a:focus p {
    color: rgba(255,255,255,.8);
    border-bottom: none;
    background-color: transparent;
}
.navbar-default.navbar-shrink .navbar-nav li a:hover,
.navbar-default.navbar-shrink .navbar-nav>.active>a:hover,
.navbar-default.navbar-shrink .navbar-nav li a:hover p,
.navbar-default.navbar-shrink .navbar-nav>.active>a:hover p {
    color: #fff;
    border-bottom: none;
    background-color: transparent;
}

@media only screen and (max-width : 768px) {
    .navbar-default .nav li a p, .navbar-shrink .nav li a p {
        color: #222;
    }
    .navbar-default .nav li a:hover p, .navbar-shrink .nav li a:hover p {
        border-bottom: none;
        color: #222 !important;
    }
    .navbar-default .nav li a:focus p, .navbar-shrink .nav li a:focus p {
        border-bottom: none;
        color: #222;
    }
    .navbar-default {
        background-color: #F38630;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover, 
    .navbar-default .navbar-brand:focus, 
    .navbar-default .navbar-brand:active {
    color: #222;
    }
    .navbar-collapse {
        background-color: rgba(255,255,255,0.95);
        border-color: transparent;
    }
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
    }
    .navbar-default .navbar-brand {
        font-size: 1.3em;
    }
}
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: bold;
    line-height: 22px;
}
header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 100;
    line-height: 12px;
}
@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: Arial, sans-serif;
        font-size: 50px;
        font-style: bold;
        line-height: 50px;
    }
    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: none;
        font-family:'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 100;
        line-height: 20px;
    }
}